@use "assets/breakpoints.scss" as *;

.page {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @include respond-max(sm) {
        gap: 32px;
    }
}