@use "breakpoints" as *;
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Norse";
    src: url("./fonts/Norse-KaWl.otf");
}

@font-face {
    font-family: "Norse";
    font-weight: bold;
    src: url("./fonts/NorseBold-2Kge.otf")
}

* {
    font-family: "Alegreya Sans SC";
    color: white;
}

h1 {
    font-family: "Norse"
}

.mobile-gone {
    @include respond-max(sm) {
        display: none;
    }
}